Imports

In [656]:
import pandas as pd
import csv
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression

Leitura do arquivo em csv e carregamento desses dados em um DataFrame usando o ponto e vírgula como separador.

In [657]:
df_dados = pd.read_csv('dataframe-bsi-2009-2022.csv', sep=';')

Convertendo dados da coluna media_final para coluna do tipo numérico

In [658]:
# Substituir vírgulas por pontos nas colunas que contêm valores decimais
colunas_decimais = ['media_final']  # Substitua 'coluna1' e 'coluna2' pelos nomes das suas colunas
for coluna in colunas_decimais:
    df_dados[coluna] = df_dados[coluna].str.replace(',', '.')

# Converter as colunas para tipo numérico
df_dados[colunas_decimais] = df_dados[colunas_decimais].astype(float)

## Tratamento de Dados

Agrupando dados por situação Aprovado e Reprovados

In [659]:
df_dados['descricao'].value_counts()

descricao
APROVADO                            27542
APROVADO POR NOTA                    7821
REPROVADO                            5655
REPROVADO POR MÉDIA E POR FALTAS     3741
CANCELADO                            2726
EXCLUIDA                             2084
TRANCADO                             1899
INDEFERIDO                           1014
DESISTENCIA                           450
REPROVADO POR FALTAS                  138
REPROVADO POR NOTA                     90
REPROVADO POR NOTA E FALTA             42
Name: count, dtype: int64

Renomeando dados da coluna descrição.

In [660]:
df_dados = df_dados.replace({'descricao':
               {'APROVADO POR NOTA':'APROVADO',
                'REPROVADO POR FALTAS':'REPROVADO',
                'REPROVADO POR MÉDIA E POR FALTAS':'REPROVADO',
                'REPROVADO POR NOTA E FALTA':'REPROVADO',
                'REPROVADO POR NOTA':'REPROVADO',

                }}, regex=True)

In [661]:
df_dados['descricao'].value_counts()

descricao
APROVADO       35363
REPROVADO       9666
CANCELADO       2726
EXCLUIDA        2084
TRANCADO        1899
INDEFERIDO      1014
DESISTENCIA      450
Name: count, dtype: int64

### Filtros

Filtrando os dados da unidade 1.

In [662]:
filtro  = df_dados['unidade'] == 1
df_dados_filtrado = df_dados[filtro]
df_dados_filtrado

,discente,unidade,media_final,descricao,ano,id_componente,nome,sexo,ano_nascimento,ano_ingresso,status
0,afba64c0118bfcc8d5b3987e725ed545,1.0,1.5,REPROVADO,20091,2037000,ALGORITMOS E LÓGICA DE PROGRAMAÇÃO,M,1987,2009,CANCELADO
3,9526e01da587b20211a39b4e66673aea,1.0,9.2,APROVADO,20091,2037000,ALGORITMOS E LÓGICA DE PROGRAMAÇÃO,M,1990,2009,CONCLUÍDO
6,1ed6777bd6ff4fd393e0b334d519c642,1.0,8.0,APROVADO,20091,2037000,ALGORITMOS E LÓGICA DE PROGRAMAÇÃO,M,1991,2009,CONCLUÍDO
9,cd66757ed4a317a3537ae3e246648778,1.0,7.3,APROVADO,20091,2037000,ALGORITMOS E LÓGICA DE PROGRAMAÇÃO,M,1975,2009,CANCELADO
12,fa7b20f8ac2312976cd7338487ad527d,1.0,9.8,APROVADO,20091,2037000,ALGORITMOS E LÓGICA DE PROGRAMAÇÃO,M,1978,2009,CONCLUÍDO
...,...,...,...,...,...,...,...,...,...,...,...
53189,7d2dd0d35ebb8319b0c0e612660d2c3a,1.0,9.3,APROVADO,20222,62766,SISTEMAS DE APOIO À DECISÃO,M,2000,2019,CONCLUÍDO
53190,7d2dd0d35ebb8319b0c0e612660d2c3a,1.0,9.8,APROVADO,20222,62764,PROGRAMAÇÃO VISUAL,M,2000,2019,CONCLUÍDO
53193,22f4aed4a073c5e9515a8669e9c102f3,1.0,5.2,APROVADO,20222,62764,PROGRAMAÇÃO VISUAL,M,1984,2019,ATIVO - FORMANDO
53196,e10089f6080d3afa8904437086ea2752,1.0,9.3,APROVADO,20222,2050107,DIREITO E LEGISLAÇÃO SOCIAL,M,2002,2019,ATIVO
53199,943463d2de8c6a60ec5f5d959ba7f1ac,1.0,10.0,APROVADO,20222,2054400,MATEMÁTICA FINANCEIRA,M,1999,2018,CONCLUÍDO

Lista dos componentes curriculares obrigatórios.

In [663]:
lista_obrigatórias = [
                'ALGORITMOS E LÓGICA DE PROGRAMAÇÃO',
                'INTRODUÇÃO À INFORMÁTICA',
                'FUNDAMENTOS DE MATEMÁTICA',
                'LÓGICA',
                'TEORIA GERAL DA ADMINISTRAÇÃO',
                'PROGRAMAÇÃO',
                'CÁLCULO DIFERENCIAL E INTEGRAL',
                'TEORIA GERAL DOS SISTEMAS',
                'PROGRAMAÇÃO ORIENTADA A OBJETOS I',
                'ESTRUTURA DE DADOS',
                'ÁLGEBRA LINEAR',
                'ORGANIZAÇÃO, SISTEMAS E MÉTODOS',
                'FUNDAMENTOS DE SISTEMAS DE INFORMAÇÃO',
                'PROGRAMAÇÃO WEB',
                'ARQUITETURA DE COMPUTADORES',
                'PROBABILIDADE E ESTATÍSTICA',
                'BANCO DE DADOS',
                'ENGENHARIA DE SOFTWARE I',
                'PROGRAMAÇÃO ORIENTADA A OBJETOS II',
                'SISTEMAS OPERACIONAIS',
                'PROJETO E ADMINISTRAÇÃO DE BANCO DE DADOS',
                'ENGENHARIA DE SOFTWARE II',
                'REDES DE COMPUTADORES',
                'CONTABILIDADE E CUSTOS',
                'EMPREENDEDORISMO EM INFORMÁTICA',
                'GESTÃO DE PROJETO DE SOFTWARE',
                'PROGRAMAÇÃO VISUAL',
                'MATEMÁTICA FINANCEIRA',
                'SISTEMAS DE APOIO À DECISÃO',
                'ÉTICA',
                ]
condição_nome = f"nome in {lista_obrigatórias}"
df_dados_filtrado = df_dados_filtrado.query(condição_nome)

In [664]:
filtro = (df_dados_filtrado['descricao'] == 'APROVADO') | (df_dados_filtrado['descricao'] == 'REPROVADO')

In [665]:
df_dados_filtrado = df_dados_filtrado[filtro]

In [666]:
df_dados_filtrado.groupby(['descricao']).count()

,discente,unidade,media_final,ano,id_componente,nome,sexo,ano_nascimento,ano_ingresso,status
descricao,,,,,,,,,,
APROVADO,8637,8637,8637,8637,8637,8637,8637,8637,8637,8637
REPROVADO,2787,2787,2787,2787,2787,2787,2787,2787,2787,2787

### Disciplinas com maior indice de reprovação

In [667]:
#Agrupa e conta nome e descricao
situacao_disciplinas = df_dados_filtrado.groupby(['nome','descricao'],as_index=False).count()

In [668]:
#selecionas colunas
situacao_disciplinas = situacao_disciplinas.filter(['nome','descricao', 'ano'])

In [669]:
situacao_disciplinas = situacao_disciplinas.rename(columns={'ano': 'total'})

In [670]:
filtro_situacao  = situacao_disciplinas['descricao'] == 'REPROVADO'
situacao_reprovado = situacao_disciplinas[filtro_situacao]

In [671]:
situacao_reprovado.sort_values(by='total', ascending=False).head(8)

                                  nome  descricao  total
25            INTRODUÇÃO À INFORMÁTICA  REPROVADO    320
19           FUNDAMENTOS DE MATEMÁTICA  REPROVADO    295
27                              LÓGICA  REPROVADO    283
1   ALGORITMOS E LÓGICA DE PROGRAMAÇÃO  REPROVADO    230
17                  ESTRUTURA DE DADOS  REPROVADO    227
3          ARQUITETURA DE COMPUTADORES  REPROVADO    208
37   PROGRAMAÇÃO ORIENTADA A OBJETOS I  REPROVADO    174
35                         PROGRAMAÇÃO  REPROVADO    167

Agrupando os dados e deixando ordenado pela coluna discente.

In [672]:
agregado_obrigatórias = df_dados_filtrado .groupby(["discente","nome","ano","descricao"]).size()
df_dados_filtrado = df_dados_filtrado.sort_values(by='discente')
df_dados_filtrado

,discente,unidade,media_final,descricao,ano,id_componente,nome,sexo,ano_nascimento,ano_ingresso,status
35312,005c14d7c07bf7980b60c703f99c5ee7,1.0,5.1,APROVADO,20182,62487,INTRODUÇÃO À INFORMÁTICA,M,1998,2018,CANCELADO
43635,005c14d7c07bf7980b60c703f99c5ee7,1.0,9.0,APROVADO,20206,62709,FUNDAMENTOS DE SISTEMAS DE INFORMAÇÃO,M,1998,2018,CANCELADO
33377,005c14d7c07bf7980b60c703f99c5ee7,1.0,0.0,REPROVADO,20181,62487,INTRODUÇÃO À INFORMÁTICA,M,1998,2018,CANCELADO
33456,005c14d7c07bf7980b60c703f99c5ee7,1.0,3.0,REPROVADO,20181,62489,LÓGICA,M,1998,2018,CANCELADO
35647,005c14d7c07bf7980b60c703f99c5ee7,1.0,5.8,APROVADO,20182,62707,TEORIA GERAL DOS SISTEMAS,M,1998,2018,CANCELADO
...,...,...,...,...,...,...,...,...,...,...,...
28311,ff56f2c5048dae0797fd3e851572b80c,1.0,1.8,REPROVADO,20162,62748,PROGRAMAÇÃO,M,1995,2014,CONCLUÍDO
28630,ff56f2c5048dae0797fd3e851572b80c,1.0,5.0,APROVADO,20162,62489,LÓGICA,M,1995,2014,CONCLUÍDO
9666,ffe447b2fe2058d45d5f756349a26f45,1.0,0.0,REPROVADO,20121,2037004,TEORIA GERAL DA ADMINISTRAÇÃO,M,1988,2012,CANCELADO
8512,ffe447b2fe2058d45d5f756349a26f45,1.0,0.0,REPROVADO,20121,2037001,INTRODUÇÃO À INFORMÁTICA,M,1988,2012,CANCELADO
8359,ffe447b2fe2058d45d5f756349a26f45,1.0,0.0,REPROVADO,20121,2037000,ALGORITMOS E LÓGICA DE PROGRAMAÇÃO,M,1988,2012,CANCELADO

In [673]:
df_dados_filtrado.to_csv('test10.csv', index=False, sep=';', quoting=csv.QUOTE_NONNUMERIC)

In [674]:
agregado_obrigatórias = df_dados_filtrado .groupby(["nome","descricao"]).size()
agregado_obrigatórias

nome                                       descricao
ALGORITMOS E LÓGICA DE PROGRAMAÇÃO         APROVADO     471
                                           REPROVADO    230
ARQUITETURA DE COMPUTADORES                APROVADO     243
                                           REPROVADO    208
BANCO DE DADOS                             APROVADO     267
                                           REPROVADO     63
CONTABILIDADE E CUSTOS                     APROVADO     247
                                           REPROVADO     16
CÁLCULO DIFERENCIAL E INTEGRAL             APROVADO     259
                                           REPROVADO    109
EMPREENDEDORISMO EM INFORMÁTICA            APROVADO     232
                                           REPROVADO      9
ENGENHARIA DE SOFTWARE I                   APROVADO     270
                                           REPROVADO     23
ENGENHARIA DE SOFTWARE II                  APROVADO     219
                                           REPROVADO     12
ESTRUTURA DE DADOS                         APROVADO     250
                                           REPROVADO    227
FUNDAMENTOS DE MATEMÁTICA                  APROVADO     417
                                           REPROVADO    295
FUNDAMENTOS DE SISTEMAS DE INFORMAÇÃO      APROVADO     366
                                           REPROVADO     15
GESTÃO DE PROJETO DE SOFTWARE              APROVADO     199
                                           REPROVADO      8
INTRODUÇÃO À INFORMÁTICA                   APROVADO     415
                                           REPROVADO    320
LÓGICA                                     APROVADO     421
                                           REPROVADO    283
MATEMÁTICA FINANCEIRA                      APROVADO     221
                                           REPROVADO     28
ORGANIZAÇÃO, SISTEMAS E MÉTODOS            APROVADO     334
                                           REPROVADO     93
PROBABILIDADE E ESTATÍSTICA                APROVADO     275
                                           REPROVADO     47
PROGRAMAÇÃO                                APROVADO     388
                                           REPROVADO    167
PROGRAMAÇÃO ORIENTADA A OBJETOS I          APROVADO     278
                                           REPROVADO    174
PROGRAMAÇÃO ORIENTADA A OBJETOS II         APROVADO     220
                                           REPROVADO     40
PROGRAMAÇÃO VISUAL                         APROVADO     182
                                           REPROVADO      9
PROGRAMAÇÃO WEB                            APROVADO     249
                                           REPROVADO     43
PROJETO E ADMINISTRAÇÃO DE BANCO DE DADOS  APROVADO     218
                                           REPROVADO     35
REDES DE COMPUTADORES                      APROVADO     205
                                           REPROVADO     32
SISTEMAS DE APOIO À DECISÃO                APROVADO     186
                                           REPROVADO     26
SISTEMAS OPERACIONAIS                      APROVADO     202
                                           REPROVADO     39
TEORIA GERAL DA ADMINISTRAÇÃO              APROVADO     497
                                           REPROVADO     80
TEORIA GERAL DOS SISTEMAS                  APROVADO     442
                                           REPROVADO     37
ÁLGEBRA LINEAR                             APROVADO     256
                                           REPROVADO    109
ÉTICA                                      APROVADO     208
                                           REPROVADO     10
dtype: int64

In [675]:
agregado_obrigatórias.to_csv('contabilizamatricula.csv', index=False, sep=';', quoting=csv.QUOTE_NONNUMERIC)

### **Primeiro Período**

```
	ALGORITMOS E LÓGICA DE PROGRAMAÇÃO 90h
	INTRODUÇÃO À INFORMÁTICA 60h
	FUNDAMENTOS DE MATEMÁTICA 60h
	LÓGICA 60h
	TEORIA GERAL DA ADMINISTRAÇÃO 60h
```

#### ALGORITMOS E LÓGICA DE PROGRAMAÇÃO

In [676]:
algoritmo = df_dados_filtrado.loc[(df_dados_filtrado['id_componente'] == 2037000) |
                                               (df_dados_filtrado['id_componente'] == 62486) &
                                             (df_dados_filtrado['ano'] < 20222)]
#Separando atributos
algoritmo = algoritmo[['discente', 'media_final', 'ano']]
algoritmo

                               discente  media_final    ano
34877  005c14d7c07bf7980b60c703f99c5ee7          5.9  20181
4339   0107fd69d8cd7e3d30dede96fb68bfe5          4.2  20111
6964   0107fd69d8cd7e3d30dede96fb68bfe5          7.0  20112
25600  014789363f7940922e71e710ee9d22bc          5.0  20161
27681  014789363f7940922e71e710ee9d22bc          7.0  20162
...                                 ...          ...    ...
49000  fe802d8d85de6f842749468401d1146c          2.0  20221
44810  fec9ed6026d55ecdf514c640312c3d08          8.7  20206
16871  ff56f2c5048dae0797fd3e851572b80c          3.7  20141
21322  ff56f2c5048dae0797fd3e851572b80c          5.2  20151
8359   ffe447b2fe2058d45d5f756349a26f45          0.0  20121

[699 rows x 3 columns]

In [677]:
algoritmo = algoritmo.groupby('discente').mean().reset_index()
algoritmo

                             discente  media_final      ano
0    005c14d7c07bf7980b60c703f99c5ee7         5.90  20181.0
1    0107fd69d8cd7e3d30dede96fb68bfe5         5.60  20111.5
2    014789363f7940922e71e710ee9d22bc         6.00  20161.5
3    0168075add041f9eb4bba46d6fdb6387         2.00  20181.0
4    020d362ad9aecb1942935475f1dc5f10         3.90  20121.0
..                                ...          ...      ...
578  fe508adc657a48bc4cbfeed0856f5d93         1.80  20191.0
579  fe802d8d85de6f842749468401d1146c         2.00  20221.0
580  fec9ed6026d55ecdf514c640312c3d08         8.70  20206.0
581  ff56f2c5048dae0797fd3e851572b80c         4.45  20146.0
582  ffe447b2fe2058d45d5f756349a26f45         0.00  20121.0

[583 rows x 3 columns]

#### INTRODUÇÃO À INFORMÁTICA

In [678]:
intro_informatica = df_dados_filtrado.loc[(df_dados_filtrado['id_componente'] == 2037001) |
                                               (df_dados_filtrado['id_componente'] == 62487)&
                                             (df_dados_filtrado['ano'] < 20222)]
#Separando atributos
intro_informatica = intro_informatica[['discente', 'media_final', 'ano']]
intro_informatica

                               discente  media_final    ano
35312  005c14d7c07bf7980b60c703f99c5ee7          5.1  20182
33377  005c14d7c07bf7980b60c703f99c5ee7          0.0  20181
4498   0107fd69d8cd7e3d30dede96fb68bfe5          2.7  20111
25778  014789363f7940922e71e710ee9d22bc          0.3  20161
28153  014789363f7940922e71e710ee9d22bc          5.7  20162
...                                 ...          ...    ...
42118  fec9ed6026d55ecdf514c640312c3d08          8.6  20205
21514  ff56f2c5048dae0797fd3e851572b80c          2.7  20151
17040  ff56f2c5048dae0797fd3e851572b80c          2.7  20141
25779  ff56f2c5048dae0797fd3e851572b80c          6.0  20161
8512   ffe447b2fe2058d45d5f756349a26f45          0.0  20121

[722 rows x 3 columns]

In [679]:
intro_informatica = intro_informatica.groupby('discente').mean().reset_index()
intro_informatica

                             discente  media_final      ano
0    005c14d7c07bf7980b60c703f99c5ee7         2.55  20181.5
1    0107fd69d8cd7e3d30dede96fb68bfe5         2.70  20111.0
2    014789363f7940922e71e710ee9d22bc         3.00  20161.5
3    0168075add041f9eb4bba46d6fdb6387         0.00  20181.0
4    020d362ad9aecb1942935475f1dc5f10         7.20  20121.0
..                                ...          ...      ...
564  fe508adc657a48bc4cbfeed0856f5d93         1.80  20191.0
565  fe802d8d85de6f842749468401d1146c         0.00  20221.0
566  fec9ed6026d55ecdf514c640312c3d08         8.60  20205.0
567  ff56f2c5048dae0797fd3e851572b80c         3.80  20151.0
568  ffe447b2fe2058d45d5f756349a26f45         0.00  20121.0

[569 rows x 3 columns]

#### FUNDAMENTOS DE MATEMÁTICA

In [680]:
fundamentos_mat = df_dados_filtrado.loc[(df_dados_filtrado['id_componente'] == 2037003) |
                                               (df_dados_filtrado['id_componente'] == 62488)&
                                             (df_dados_filtrado['ano'] < 20222)]
#Separando atributos
fundamentos_mat = fundamentos_mat[['discente', 'media_final']]
fundamentos_mat.head()

                               discente  media_final
38374  005c14d7c07bf7980b60c703f99c5ee7          5.7
34392  005c14d7c07bf7980b60c703f99c5ee7          0.8
5510   0107fd69d8cd7e3d30dede96fb68bfe5          1.6
26190  014789363f7940922e71e710ee9d22bc          0.2
28576  014789363f7940922e71e710ee9d22bc          0.1

In [681]:
fundamentos_mat = fundamentos_mat.groupby('discente').mean().reset_index()

#### LÓGICA

In [682]:
logica = df_dados_filtrado.loc[(df_dados_filtrado['id_componente'] == 2037002) |
                                               (df_dados_filtrado['id_componente'] == 62489)&
                                             (df_dados_filtrado['ano'] < 20222)]
#Separando atributos
logica = logica[['discente', 'media_final']]
logica.head()

                               discente  media_final
33456  005c14d7c07bf7980b60c703f99c5ee7          3.0
37870  005c14d7c07bf7980b60c703f99c5ee7          5.4
4937   0107fd69d8cd7e3d30dede96fb68bfe5          4.9
26359  014789363f7940922e71e710ee9d22bc          4.2
28624  014789363f7940922e71e710ee9d22bc          6.0

In [683]:
logica = logica.groupby('discente').mean().reset_index()

#### TEORIA GERAL DA ADMINISTRAÇÃO

In [684]:
tga = df_dados_filtrado.loc[(df_dados_filtrado['id_componente'] == 2037004) |
                                               (df_dados_filtrado['id_componente'] == 62490)&
                                             (df_dados_filtrado['ano'] < 20222)]
#Separando atributos
tga = tga[['discente', 'media_final']]
tga.head()

                               discente  media_final
33638  005c14d7c07bf7980b60c703f99c5ee7          8.7
5091   0107fd69d8cd7e3d30dede96fb68bfe5          7.8
26834  014789363f7940922e71e710ee9d22bc          5.7
33584  0168075add041f9eb4bba46d6fdb6387          0.0
26825  026f9509c92f18fdea01c391a9d401a8          6.7

In [685]:
tga = tga.groupby('discente').mean().reset_index()

### **Segundo Período**

```
PROGRAMAÇÃO - 90h
CÁLCULO DIFERENCIAL E INTEGRAL - 60h
TEORIA GERAL DOS SISTEMAS - 60h
```

#### PROGRAMAÇÃO

In [686]:
programacao = df_dados_filtrado.loc[(df_dados_filtrado['id_componente'] == 2037006) |
                                               (df_dados_filtrado['id_componente'] == 62748)&
                                             (df_dados_filtrado['ano'] < 20222)]
#Separando atributos
programacao = programacao[['discente', 'media_final']]
programacao.head()

                               discente  media_final
35463  005c14d7c07bf7980b60c703f99c5ee7          2.7
37439  005c14d7c07bf7980b60c703f99c5ee7          5.3
30196  014789363f7940922e71e710ee9d22bc          7.1
30205  026f9509c92f18fdea01c391a9d401a8          5.8
28298  026f9509c92f18fdea01c391a9d401a8          2.5

In [687]:
programacao = programacao.groupby('discente').mean().reset_index()

#### CÁLCULO DIFERENCIAL E INTEGRAL

In [688]:
calculo = df_dados_filtrado.loc[(df_dados_filtrado['id_componente'] == 2037007) |
                                               (df_dados_filtrado['id_componente'] == 62708)&
                                             (df_dados_filtrado['ano'] < 20222)]

#Separando atributos
calculo = calculo[['discente', 'media_final' ]]
calculo.head()

                               discente  media_final
39938  005c14d7c07bf7980b60c703f99c5ee7          0.3
41127  026f9509c92f18fdea01c391a9d401a8          5.2
1332   02dad20dec819bcc384cc6fa0b7ecbf9          5.0
13622  04c4db33b712881ca8936fdc225bf153          5.1
3527   057b5f3791c59f7ea9673943a63ee7ea          8.5

In [689]:
calculo = calculo.groupby('discente').mean().reset_index()

#### TEORIA GERAL DOS SISTEMAS

In [690]:
tgs = df_dados_filtrado.loc[(df_dados_filtrado['id_componente'] == 62707) |
                                               (df_dados_filtrado['id_componente'] == 2037008)&
                                             (df_dados_filtrado['ano'] < 20222)]
#Separando atributos
tgs = tgs[['discente', 'media_final']]
tgs.head()

                               discente  media_final
35647  005c14d7c07bf7980b60c703f99c5ee7          5.8
7413   0107fd69d8cd7e3d30dede96fb68bfe5          7.2
28538  014789363f7940922e71e710ee9d22bc          8.3
11164  020d362ad9aecb1942935475f1dc5f10          0.0
28529  026f9509c92f18fdea01c391a9d401a8          6.8

In [691]:
tgs = tgs.groupby('discente').mean().reset_index()

### **Terceiro Período**


```
PROGRAMAÇÃO ORIENTADA A OBJETOS I - 60h
FUNDAMENTOS DE SISTEMAS DE INFORMAÇÃO - 60h
ÁLGEBRA LINEAR - 60h
ORGANIZAÇÃO, SISTEMAS E MÉTODOS - 60h
ESTRUTURA DE DADOS - 90h
```

#### PROGRAMAÇÃO ORIENTADA A OBJETOS I

In [692]:
poo_1 = df_dados_filtrado.loc[(df_dados_filtrado['id_componente'] == 2037012) |
                                               (df_dados_filtrado['id_componente'] == 62750)&
                                             (df_dados_filtrado['ano'] < 20222)]
#Separando atributos
poo_1 = poo_1[['discente', 'media_final']]
poo_1.head()

                               discente  media_final
39175  005c14d7c07bf7980b60c703f99c5ee7          5.6
32927  014789363f7940922e71e710ee9d22bc          9.0
32924  026f9509c92f18fdea01c391a9d401a8          7.5
4665   02dad20dec819bcc384cc6fa0b7ecbf9          5.0
4072   02dad20dec819bcc384cc6fa0b7ecbf9          2.1

In [693]:
poo_1 = poo_1.groupby('discente').mean().reset_index()

#### FUNDAMENTOS DE SISTEMAS DE INFORMAÇÃO

In [694]:
fundamentos_si = df_dados_filtrado.loc[(df_dados_filtrado['id_componente'] == 2037011) |
                                               (df_dados_filtrado['id_componente'] == 62709)&
                                             (df_dados_filtrado['ano'] < 20222)]
#Separando atributos
fundamentos_si = fundamentos_si[['discente', 'media_final']]
fundamentos_si.head()

                               discente  media_final
43635  005c14d7c07bf7980b60c703f99c5ee7          9.0
30348  014789363f7940922e71e710ee9d22bc          7.7
43599  026f9509c92f18fdea01c391a9d401a8          9.8
1947   02dad20dec819bcc384cc6fa0b7ecbf9          8.0
27251  0347e118dc1347900f6bf3cdbb213dbd          7.3

In [695]:
fundamentos_si = fundamentos_si.groupby('discente').mean().reset_index()

#### ÁLGEBRA LINEAR

In [696]:
algebra = df_dados_filtrado.loc[(df_dados_filtrado['id_componente'] == 2037016) |
                                               (df_dados_filtrado['id_componente'] == 62710)&
                                             (df_dados_filtrado['ano'] < 20222)]
#Separando atributos
algebra = algebra[['discente', 'media_final']]
algebra.head()

                               discente  media_final
46184  005c14d7c07bf7980b60c703f99c5ee7          0.0
49827  005c14d7c07bf7980b60c703f99c5ee7          0.0
38468  014789363f7940922e71e710ee9d22bc          5.9
43111  026f9509c92f18fdea01c391a9d401a8          5.0
2348   02dad20dec819bcc384cc6fa0b7ecbf9          5.0

In [697]:
algebra = algebra.groupby('discente').mean().reset_index()

#### ORGANIZAÇÃO, SISTEMAS E MÉTODOS

In [698]:
osm = df_dados_filtrado.loc[(df_dados_filtrado['id_componente'] == 62751) |
                                               (df_dados_filtrado['id_componente'] == 2037013)&
                                             (df_dados_filtrado['ano'] < 20222)]
#Separando atributos
osm = osm[['discente', 'media_final']]
osm.head()

                               discente  media_final
38770  005c14d7c07bf7980b60c703f99c5ee7          8.1
31189  014789363f7940922e71e710ee9d22bc          6.0
31183  026f9509c92f18fdea01c391a9d401a8          6.5
4208   02dad20dec819bcc384cc6fa0b7ecbf9          7.2
2620   02dad20dec819bcc384cc6fa0b7ecbf9          2.7

In [699]:
osm = osm.groupby('discente').mean().reset_index()

#### ESTRUTURA DE DADOS

In [700]:
ed = df_dados_filtrado.loc[(df_dados_filtrado['id_componente'] == 2054351) |
                                               (df_dados_filtrado['id_componente'] == 62749)&
                                             (df_dados_filtrado['ano'] < 20222)]
#Separando atributos
ed = ed[['discente', 'media_final']]
ed.head()

                               discente  media_final
48864  005c14d7c07bf7980b60c703f99c5ee7          0.0
41950  005c14d7c07bf7980b60c703f99c5ee7          0.0
48039  005c14d7c07bf7980b60c703f99c5ee7          0.0
39048  014789363f7940922e71e710ee9d22bc          6.1
37162  014789363f7940922e71e710ee9d22bc          2.7

In [701]:
ed = ed.groupby('discente').mean().reset_index()

### **Quarto Período**


```
ARQUITETURA DE COMPUTADORES - 60h
PROGRAMAÇÃO WEB - 60h
PROBABILIDADE E ESTATÍSTICA - 60h
BANCO DE DADOS - 60h
ENGENHARIA DE SOFTWARE I - 60h
```

#### ARQUITETURA DE COMPUTADORES

In [702]:
arquitetura = df_dados_filtrado.loc[(df_dados_filtrado['id_componente'] == 2037018) |
                                               (df_dados_filtrado['id_componente'] == 62711)&
                                             (df_dados_filtrado['ano'] < 20222)]
#Separando atributos
arquitetura = arquitetura[['discente', 'media_final']]
arquitetura.head()

                               discente  media_final
43379  005c14d7c07bf7980b60c703f99c5ee7          9.0
39672  005c14d7c07bf7980b60c703f99c5ee7          1.6
32231  014789363f7940922e71e710ee9d22bc          0.0
35331  014789363f7940922e71e710ee9d22bc          0.7
39650  014789363f7940922e71e710ee9d22bc          5.0

In [703]:
arquitetura = arquitetura.groupby('discente').mean().reset_index()

#### PROGRAMAÇÃO WEB

In [704]:
p_web = df_dados_filtrado.loc[(df_dados_filtrado['id_componente'] == 2037021) |
                                               (df_dados_filtrado['id_componente'] == 62752)&
                                             (df_dados_filtrado['ano'] < 20222)]
#Separando atributos
p_web = p_web[['discente', 'media_final']]
p_web.head()

                               discente  media_final
44971  005c14d7c07bf7980b60c703f99c5ee7          8.7
34707  014789363f7940922e71e710ee9d22bc          7.8
42545  014f0dec46fe7a9c5836527662e1df10          5.4
34710  026f9509c92f18fdea01c391a9d401a8          6.6
13211  057b5f3791c59f7ea9673943a63ee7ea          7.6

#### PROBABILIDADE E ESTATÍSTICA

In [705]:
probabilidade = df_dados_filtrado.loc[(df_dados_filtrado['id_componente'] == 2037009) |
                                               (df_dados_filtrado['id_componente'] == 62712)&
                                             (df_dados_filtrado['ano'] < 20222)]
#Separando atributos
probabilidade = probabilidade[['discente', 'media_final']]
probabilidade.head()

                               discente  media_final
41282  005c14d7c07bf7980b60c703f99c5ee7          5.0
44981  014789363f7940922e71e710ee9d22bc          9.7
46886  026f9509c92f18fdea01c391a9d401a8          6.5
41285  029458a349548473ecd50f3ed942ddf7          5.0
3617   02dad20dec819bcc384cc6fa0b7ecbf9          8.4

In [706]:
probabilidade = probabilidade.groupby('discente').mean().reset_index()

#### BANCO DE DADOS

In [707]:
bd_1 = df_dados_filtrado.loc[(df_dados_filtrado['id_componente'] == 2037014) |
                                               (df_dados_filtrado['id_componente'] == 62759)&
                                             (df_dados_filtrado['ano'] < 20222)]
#Separando atributos
bd_1 = bd_1[['discente', 'media_final']]
bd_1.head()

                               discente  media_final
39432  005c14d7c07bf7980b60c703f99c5ee7          5.7
32258  014789363f7940922e71e710ee9d22bc          5.5
32268  026f9509c92f18fdea01c391a9d401a8          5.8
7794   057b5f3791c59f7ea9673943a63ee7ea          5.3
11485  07d4b852e9a42c2da9a30e5ab5cfc5b7          5.3

In [708]:
bd_1 = bd_1.groupby('discente').mean().reset_index()

#### ENGENHARIA DE SOFTWARE I

In [709]:
engenharia_1 = df_dados_filtrado.loc[(df_dados_filtrado['id_componente'] == 2037017) |
                                               (df_dados_filtrado['id_componente'] == 62761)&
                                             (df_dados_filtrado['ano'] < 20222)]
#Separando atributos
engenharia_1 = engenharia_1[['discente', 'media_final']]
engenharia_1.head()

                               discente  media_final
47507  005c14d7c07bf7980b60c703f99c5ee7          1.7
34179  014789363f7940922e71e710ee9d22bc          7.6
34182  026f9509c92f18fdea01c391a9d401a8          8.1
3384   02dad20dec819bcc384cc6fa0b7ecbf9          6.0
7847   04c4db33b712881ca8936fdc225bf153          4.7

In [710]:
engenharia_1 = engenharia_1.groupby('discente').mean().reset_index()

### **Quinto Período**

```
PROGRAMAÇÃO ORIENTADA A OBJETOS II - 60h
SISTEMAS OPERACIONAIS - 60h
PROJETO E ADMINISTRAÇÃO DE BANCO DE DADOS - 60h
ENGENHARIA DE SOFTWARE II - 60h
```

#### PROGRAMAÇÃO ORIENTADA A OBJETOS II

In [711]:
poo_2 = df_dados_filtrado.loc[(df_dados_filtrado['id_componente'] == 2037015) |
                                               (df_dados_filtrado['id_componente'] == 62758)&
                                             (df_dados_filtrado['ano'] < 20222)]
#Separando atributos
poo_2 = poo_2[['discente', 'media_final']]
poo_2.head()

                               discente  media_final
46398  005c14d7c07bf7980b60c703f99c5ee7          6.8
36268  014789363f7940922e71e710ee9d22bc          7.5
43491  014f0dec46fe7a9c5836527662e1df10          5.0
36274  026f9509c92f18fdea01c391a9d401a8          8.9
11073  02dad20dec819bcc384cc6fa0b7ecbf9          0.0

In [712]:
poo_2 = poo_2.groupby('discente').mean().reset_index()

#### SISTEMAS OPERACIONAIS

In [713]:
so = df_dados_filtrado.loc[(df_dados_filtrado['id_componente'] == 2037022) |
                                               (df_dados_filtrado['id_componente'] == 62762)&
                                             (df_dados_filtrado['ano'] < 20222)]
#Separando atributos
so = so[['discente', 'media_final']]
so.head()

                               discente  media_final
46449  005c14d7c07bf7980b60c703f99c5ee7          7.5
43694  014789363f7940922e71e710ee9d22bc          6.6
32364  026f9509c92f18fdea01c391a9d401a8          7.0
33979  041a644db3db3f4b20175881c2248bb0          7.3
13734  057b5f3791c59f7ea9673943a63ee7ea          7.5

In [714]:
so = so.groupby('discente').mean().reset_index()

#### PROJETO E ADMINISTRAÇÃO DE BANCO DE DADOS

In [715]:
bd_2 = df_dados_filtrado.loc[(df_dados_filtrado['id_componente'] == 2037019) |
                                               (df_dados_filtrado['id_componente'] == 62765)&
                                             (df_dados_filtrado['ano'] < 20222)]
#Separando atributos
bd_2 = bd_2[['discente', 'media_final']]
bd_2.head()

                               discente  media_final
50099  005c14d7c07bf7980b60c703f99c5ee7          0.0
33069  014789363f7940922e71e710ee9d22bc          5.8
33066  026f9509c92f18fdea01c391a9d401a8          7.3
33045  041a644db3db3f4b20175881c2248bb0          6.2
9530   057b5f3791c59f7ea9673943a63ee7ea          1.5

In [716]:
bd_2 =bd_2.groupby('discente').mean().reset_index()

#### ENGENHARIA DE SOFTWARE II

In [717]:
engenharia_2 = df_dados_filtrado.loc[(df_dados_filtrado['id_componente'] == 62785) |
                                               (df_dados_filtrado['id_componente'] == 2037020)&
                                             (df_dados_filtrado['ano'] < 20222)]
#Separando atributos
engenharia_2 = engenharia_2[['discente', 'media_final']]
engenharia_2.head()

                               discente  media_final
36303  014789363f7940922e71e710ee9d22bc          7.8
36313  026f9509c92f18fdea01c391a9d401a8          6.4
13875  02dad20dec819bcc384cc6fa0b7ecbf9          5.6
33933  041a644db3db3f4b20175881c2248bb0          7.9
9557   057b5f3791c59f7ea9673943a63ee7ea          7.3

In [718]:
engenharia_2 = engenharia_2.groupby('discente').mean().reset_index()

### **Sexto Período**



```
REDES DE COMPUTADORES - 60h
GESTÃO DE PROJETO DE SOFTWARE - 60h
EMPREENDENDORISMO EM INFORMÁTICA - 60h
```

#### REDES DE COMPUTADORES

In [719]:
redes = df_dados_filtrado.loc[(df_dados_filtrado['id_componente'] == 2037027) |
                                               (df_dados_filtrado['id_componente'] == 62763)&
                                             (df_dados_filtrado['ano'] < 20222)]
#Separando atributos
redes = redes[['discente', 'media_final']]
redes.head()

                               discente  media_final
47246  005c14d7c07bf7980b60c703f99c5ee7          0.3
42638  014789363f7940922e71e710ee9d22bc          6.5
36503  026f9509c92f18fdea01c391a9d401a8          7.9
36491  041a644db3db3f4b20175881c2248bb0          6.5
13746  057b5f3791c59f7ea9673943a63ee7ea          8.2

In [720]:
redes = redes.groupby('discente').mean().reset_index()

#### GESTÃO DE PROJETO DE SOFTWARE

In [721]:
gestao = df_dados_filtrado.loc[(df_dados_filtrado['id_componente'] == 2037026) |
                                               (df_dados_filtrado['id_componente'] == 62786)&
                                             (df_dados_filtrado['ano'] < 20222)]
#Separando atributos
gestao = gestao[['discente', 'media_final']]
gestao.head()

                               discente  media_final
38959  014789363f7940922e71e710ee9d22bc          7.8
38973  026f9509c92f18fdea01c391a9d401a8          7.4
35979  041a644db3db3f4b20175881c2248bb0          6.8
11585  057b5f3791c59f7ea9673943a63ee7ea          4.2
15470  057b5f3791c59f7ea9673943a63ee7ea          8.6

In [722]:
gestao = gestao.groupby('discente').mean().reset_index()

#### EMPREENDENDORISMO EM INFORMÁTICA

In [723]:
emp_informatica = df_dados_filtrado.loc[(df_dados_filtrado['id_componente'] == 2037052) |
                                               (df_dados_filtrado['id_componente'] == 62713)&
                                             (df_dados_filtrado['ano'] < 20222)]
#Separando atributos
emp_informatica = emp_informatica[['discente', 'media_final']]
emp_informatica = emp_informatica.rename(columns={'media_final':'emp_informatica'})
emp_informatica.head()

                               discente  emp_informatica
36190  014789363f7940922e71e710ee9d22bc              8.8
36186  026f9509c92f18fdea01c391a9d401a8              8.5
9965   02dad20dec819bcc384cc6fa0b7ecbf9              7.0
28961  0347e118dc1347900f6bf3cdbb213dbd              6.3
36165  03e175180669d96268067a52a9970615              8.7

In [724]:
emp_informatica = emp_informatica.groupby('discente').mean().reset_index()

#### CONTABILIDADE E CUSTOS

In [725]:
contabilidade = df_dados_filtrado.loc[(df_dados_filtrado['id_componente'] == 62787) |
                                               (df_dados_filtrado['id_componente'] == 48333)&
                                             (df_dados_filtrado['ano'] < 20222)]
#Separando atributos
contabilidade = contabilidade[['discente', 'media_final']]
contabilidade = contabilidade.rename(columns={'media_final':'contabilidade'})
contabilidade.head()

                               discente  contabilidade
41647  005c14d7c07bf7980b60c703f99c5ee7            6.5
36586  014789363f7940922e71e710ee9d22bc            6.4
41643  026f9509c92f18fdea01c391a9d401a8            0.0
45021  026f9509c92f18fdea01c391a9d401a8            7.2
47182  029458a349548473ecd50f3ed942ddf7            2.3

In [726]:
contabilidade = contabilidade.groupby('discente').mean().reset_index()

### **Sétimo Período**

```
PROGRAMAÇÃO VISUAL
```

#### PROGRAMAÇÃO VISUAL

In [727]:
prog_visual = df_dados_filtrado.loc[(df_dados_filtrado['id_componente'] == 48334) |
                                               (df_dados_filtrado['id_componente'] == 62764)&
                                             (df_dados_filtrado['ano'] < 20222)]
#Separando atributos
prog_visual = prog_visual[['discente', 'media_final']]
prog_visual = prog_visual.rename(columns={'media_final':'prog_visual'})
prog_visual.head()

                               discente  prog_visual
37756  014789363f7940922e71e710ee9d22bc          6.6
37757  026f9509c92f18fdea01c391a9d401a8          7.3
44683  029458a349548473ecd50f3ed942ddf7          7.3
37736  041a644db3db3f4b20175881c2248bb0          0.2
15151  057b5f3791c59f7ea9673943a63ee7ea          8.4

In [728]:
prog_visual = prog_visual.groupby('discente').mean().reset_index()

### **Oitavo Período**



```
ÉTICA - 60h
SISTEMAS DE APOIO À DECISÃO - 60h
```

#### ÉTICA

In [729]:
etica = df_dados_filtrado.loc[(df_dados_filtrado['id_componente'] == 48335) |
                                               (df_dados_filtrado['id_componente'] == 62714)&
                                             (df_dados_filtrado['ano'] < 20222)]
#Separando atributos
etica = etica[['discente', 'media_final']]
etica = etica.rename(columns={'media_final':'etica'})
etica.head()

                               discente  etica
41716  005c14d7c07bf7980b60c703f99c5ee7    9.2
30128  014789363f7940922e71e710ee9d22bc    7.5
30136  026f9509c92f18fdea01c391a9d401a8    7.8
45178  029458a349548473ecd50f3ed942ddf7    0.0
10246  02dad20dec819bcc384cc6fa0b7ecbf9   10.0

In [730]:
etica = etica.groupby('discente').mean().reset_index()

#### SISTEMAS DE APOIO À DECISÃO

In [731]:
sad = df_dados_filtrado.loc[(df_dados_filtrado['id_componente'] == 2037053) |
                                               (df_dados_filtrado['id_componente'] == 62766)&
                                             (df_dados_filtrado['ano'] < 20222)]
#Separando atributos
sad = sad[['discente', 'media_final']]
sad  = sad .rename(columns={'media_final': 'sad'})
sad.head()

                               discente  sad
38098  014789363f7940922e71e710ee9d22bc  9.6
38111  026f9509c92f18fdea01c391a9d401a8  6.7
50928  029458a349548473ecd50f3ed942ddf7  5.1
41701  029458a349548473ecd50f3ed942ddf7  0.5
10551  02dad20dec819bcc384cc6fa0b7ecbf9  2.2

In [732]:
sad = sad.groupby('discente').mean().reset_index()

## tesre

In [733]:
percentual_obrigatórias = pd.crosstab(df_dados_filtrado["discente"], df_dados_filtrado["ano"], normalize="index")
percentual_obrigatórias

ano,20091,20092,20101,20102,20111,20112,20121,20122,20131,20132,...,20182,20191,20192,20202,20205,20206,20211,20212,20221,20222
discente,,,,,,,,,,,,,,,,,,,,,
005c14d7c07bf7980b60c703f99c5ee7,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0.090909,0.121212,0.121212,0.121212,0.000000,0.121212,0.090909,0.090909,0.090909,0.000
0107fd69d8cd7e3d30dede96fb68bfe5,0.0,0.0,0.0,0.0,0.714286,0.285714,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000
014789363f7940922e71e710ee9d22bc,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0.135135,0.135135,0.081081,0.000000,0.027027,0.054054,0.000000,0.000000,0.000000,0.000
014f0dec46fe7a9c5836527662e1df10,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.500000,0.500000,0.000000,0.000000,0.000000,0.000
0168075add041f9eb4bba46d6fdb6387,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
fe802d8d85de6f842749468401d1146c,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.625000,0.375
fe87dfa176a74fc10a5cb701b9fb5dd4,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.250000,0.500000,0.250000,0.000000,0.000000,0.000000,0.000
fec9ed6026d55ecdf514c640312c3d08,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.100000,0.100000,0.150000,0.250000,0.150000,0.150000,0.100
ff56f2c5048dae0797fd3e851572b80c,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0.105263,0.078947,0.026316,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000
ffe447b2fe2058d45d5f756349a26f45,0.0,0.0,0.0,0.0,0.000000,0.000000,1.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000

# Melhores Correlações

### Correlação - Programação

In [734]:
pro_cor = pd.merge(algoritmo, programacao, how = 'inner', on = 'discente')
pro_cor = pro_cor.rename(columns={'media_final_x': 'algoritmo', 'media_final_y': 'programacao'})

pro_cor = pd.merge(fundamentos_mat, pro_cor, how = 'inner', on = 'discente')
pro_cor = pro_cor.rename(columns={'media_final': 'fundamentos_mat'})

pro_cor = pd.merge(intro_informatica, pro_cor, how = 'inner', on = 'discente')
pro_cor = pro_cor.rename(columns={'media_final': 'intro_informatica'})

pro_cor = pd.merge(logica, pro_cor, how = 'inner', on = 'discente')
pro_cor = pro_cor.rename(columns={'media_final': 'logica'})

pro_cor

,discente,logica,intro_informatica,ano_x,fundamentos_mat,algoritmo,ano_y,programacao
0,005c14d7c07bf7980b60c703f99c5ee7,4.200000,2.55,20181.5,3.250000,5.90,20181.0,4.00
1,014789363f7940922e71e710ee9d22bc,5.100000,3.00,20161.5,1.766667,6.00,20161.5,7.10
2,026f9509c92f18fdea01c391a9d401a8,4.433333,5.40,20161.0,1.833333,6.80,20161.0,4.15
3,03e175180669d96268067a52a9970615,4.500000,5.50,20171.0,1.200000,2.95,20176.0,0.80
4,04c4db33b712881ca8936fdc225bf153,4.300000,5.10,20101.0,7.900000,5.30,20101.0,5.20
...,...,...,...,...,...,...,...,...
368,fb9c8cfe6651f3eb5b0e54fef1c92d0c,8.300000,7.70,20121.0,7.500000,8.00,20121.0,7.00
369,fbbb4dd72ec8339e3d9b903c4ddf90a1,7.200000,6.10,20211.0,6.500000,9.10,20211.0,9.70
370,fc1614293b1cb9388ab3f21ef4767eac,8.000000,7.00,20205.0,6.600000,9.70,20206.0,8.60
371,fec9ed6026d55ecdf514c640312c3d08,8.100000,8.60,20205.0,7.000000,8.70,20206.0,10.00
372,ff56f2c5048dae0797fd3e851572b80c,4.300000,3.80,20151.0,3.333333,4.45,20146.0,4.50

### Correlação - Introdução à Informática

In [735]:
intro_cor = pd.merge(algoritmo, intro_informatica, how = 'inner', on = 'discente')
intro_cor = intro_cor.rename(columns={'media_final_x': 'algoritmo', 'media_final_y': 'intro_informatica', 'nota_x':'algoritmo_n1', 'nota_y':'intro_informatica_n1'})

intro_cor = pd.merge(fundamentos_mat, intro_cor, how = 'inner', on = 'discente')
intro_cor = intro_cor.rename(columns={'media_final': 'fundamentos_mat'})

intro_cor = pd.merge(logica, intro_cor, how = 'inner', on = 'discente')
intro_cor = intro_cor.rename(columns={'media_final': 'logica'})

intro_cor = pd.merge(tga, intro_cor, how = 'inner', on = 'discente')
intro_cor = intro_cor.rename(columns={'media_final': 'tga'})

intro_cor

,discente,tga,logica,fundamentos_mat,algoritmo,ano_x,intro_informatica,ano_y
0,005c14d7c07bf7980b60c703f99c5ee7,8.7,4.200000,3.250000,5.90,20181.0,2.55,20181.5
1,0107fd69d8cd7e3d30dede96fb68bfe5,7.8,4.900000,1.600000,5.60,20111.5,2.70,20111.0
2,014789363f7940922e71e710ee9d22bc,5.7,5.100000,1.766667,6.00,20161.5,3.00,20161.5
3,0168075add041f9eb4bba46d6fdb6387,0.0,1.400000,0.000000,2.00,20181.0,0.00,20181.0
4,026f9509c92f18fdea01c391a9d401a8,6.7,4.433333,1.833333,6.80,20161.0,5.40,20161.0
...,...,...,...,...,...,...,...,...
521,fd2397062d2a9f92dd32ac8fa33863de,9.2,6.000000,5.800000,6.60,20221.0,5.80,20221.0
522,fe508adc657a48bc4cbfeed0856f5d93,6.6,5.600000,7.000000,1.80,20191.0,1.80,20191.0
523,fe802d8d85de6f842749468401d1146c,6.5,2.700000,0.000000,2.00,20221.0,0.00,20221.0
524,fec9ed6026d55ecdf514c640312c3d08,9.5,8.100000,7.000000,8.70,20206.0,8.60,20205.0
525,ff56f2c5048dae0797fd3e851572b80c,7.2,4.300000,3.333333,4.45,20146.0,3.80,20151.0

### Correlação - Fundamentos de Matemática

In [736]:
fun_cor = pd.merge(algoritmo, fundamentos_mat, how = 'inner', on = 'discente')
fun_cor = fun_cor.rename(columns={'media_final_x': 'algoritmo', 'media_final_y': 'fundamentos_mat'})

fun_cor = pd.merge(intro_informatica, fun_cor, how = 'inner', on = 'discente')
fun_cor = fun_cor.rename(columns={'media_final': 'intro_informatica'})

fun_cor = pd.merge(logica, fun_cor, how = 'inner', on = 'discente')
fun_cor = fun_cor.rename(columns={'media_final': 'logica'})

fun_cor = pd.merge(tga, fun_cor, how = 'inner', on = 'discente')
fun_cor = fun_cor.rename(columns={'media_final': 'tga'})

fun_cor

,discente,tga,logica,intro_informatica,ano_x,algoritmo,ano_y,fundamentos_mat
0,005c14d7c07bf7980b60c703f99c5ee7,8.7,4.200000,2.55,20181.5,5.90,20181.0,3.250000
1,0107fd69d8cd7e3d30dede96fb68bfe5,7.8,4.900000,2.70,20111.0,5.60,20111.5,1.600000
2,014789363f7940922e71e710ee9d22bc,5.7,5.100000,3.00,20161.5,6.00,20161.5,1.766667
3,0168075add041f9eb4bba46d6fdb6387,0.0,1.400000,0.00,20181.0,2.00,20181.0,0.000000
4,026f9509c92f18fdea01c391a9d401a8,6.7,4.433333,5.40,20161.0,6.80,20161.0,1.833333
...,...,...,...,...,...,...,...,...
521,fd2397062d2a9f92dd32ac8fa33863de,9.2,6.000000,5.80,20221.0,6.60,20221.0,5.800000
522,fe508adc657a48bc4cbfeed0856f5d93,6.6,5.600000,1.80,20191.0,1.80,20191.0,7.000000
523,fe802d8d85de6f842749468401d1146c,6.5,2.700000,0.00,20221.0,2.00,20221.0,0.000000
524,fec9ed6026d55ecdf514c640312c3d08,9.5,8.100000,8.60,20205.0,8.70,20206.0,7.000000
525,ff56f2c5048dae0797fd3e851572b80c,7.2,4.300000,3.80,20151.0,4.45,20146.0,3.333333

### Correlação - Lógica

In [737]:
log_cor = pd.merge(algoritmo, logica, how = 'inner', on = 'discente')
log_cor = log_cor.rename(columns={'media_final_x': 'algoritmo', 'media_final_y': 'logica'})

log_cor = pd.merge(intro_informatica, log_cor, how = 'inner', on = 'discente')
log_cor = log_cor.rename(columns={'media_final': 'intro_informatica'})

log_cor = pd.merge(tga, log_cor, how = 'inner', on = 'discente')
log_cor = log_cor.rename(columns={'media_final': 'tga'})

log_cor

,discente,tga,intro_informatica,ano_x,algoritmo,ano_y,logica
0,005c14d7c07bf7980b60c703f99c5ee7,8.7,2.55,20181.5,5.90,20181.0,4.200000
1,0107fd69d8cd7e3d30dede96fb68bfe5,7.8,2.70,20111.0,5.60,20111.5,4.900000
2,014789363f7940922e71e710ee9d22bc,5.7,3.00,20161.5,6.00,20161.5,5.100000
3,0168075add041f9eb4bba46d6fdb6387,0.0,0.00,20181.0,2.00,20181.0,1.400000
4,026f9509c92f18fdea01c391a9d401a8,6.7,5.40,20161.0,6.80,20161.0,4.433333
...,...,...,...,...,...,...,...
528,fd2397062d2a9f92dd32ac8fa33863de,9.2,5.80,20221.0,6.60,20221.0,6.000000
529,fe508adc657a48bc4cbfeed0856f5d93,6.6,1.80,20191.0,1.80,20191.0,5.600000
530,fe802d8d85de6f842749468401d1146c,6.5,0.00,20221.0,2.00,20221.0,2.700000
531,fec9ed6026d55ecdf514c640312c3d08,9.5,8.60,20205.0,8.70,20206.0,8.100000
532,ff56f2c5048dae0797fd3e851572b80c,7.2,3.80,20151.0,4.45,20146.0,4.300000

### Correlação - Estrutura de Dados

In [738]:
ed_cor = pd.merge(ed, poo_1, how = 'inner', on = 'discente')
ed_cor = ed_cor.rename(columns={'media_final_x': 'ed', 'media_final_y': 'poo_1'})

ed_cor = pd.merge(arquitetura, ed_cor, how = 'inner', on = 'discente')
ed_cor = ed_cor.rename(columns={'media_final': 'arquitetura'})

ed_cor = pd.merge(algebra, ed_cor, how = 'inner', on = 'discente')
ed_cor = ed_cor.rename(columns={'media_final': 'algebra'})

ed_cor = pd.merge(osm, ed_cor, how = 'inner', on = 'discente')
ed_cor = ed_cor.rename(columns={'media_final': 'osm'})

ed_cor

,discente,osm,algebra,arquitetura,ed,poo_1
0,005c14d7c07bf7980b60c703f99c5ee7,8.10,0.00,5.3,0.000000,5.600000
1,014789363f7940922e71e710ee9d22bc,6.00,5.90,1.9,4.400000,9.000000
2,026f9509c92f18fdea01c391a9d401a8,6.50,5.00,8.1,6.000000,7.500000
3,02dad20dec819bcc384cc6fa0b7ecbf9,4.95,5.00,2.5,1.133333,2.633333
4,04c4db33b712881ca8936fdc225bf153,5.00,0.10,1.1,0.500000,0.400000
...,...,...,...,...,...,...
218,fb38dba740d0ed107efeebe85e77c84a,5.70,4.55,6.3,4.450000,7.800000
219,fb9c8cfe6651f3eb5b0e54fef1c92d0c,5.95,5.30,6.9,6.600000,5.100000
220,fc1614293b1cb9388ab3f21ef4767eac,7.70,6.20,6.7,5.800000,7.300000
221,fec9ed6026d55ecdf514c640312c3d08,8.60,7.50,9.4,6.700000,5.800000
222,ff56f2c5048dae0797fd3e851572b80c,5.30,7.70,7.1,3.300000,7.700000

### Correlação - Arquitetura

In [739]:
arqt_cor = pd.merge(arquitetura, poo_1, how = 'inner', on = 'discente')
arqt_cor = arqt_cor.rename(columns={'media_final_x': 'arquitetura', 'media_final_y': 'poo_1'})

arqt_cor = pd.merge(ed, arqt_cor, how = 'inner', on = 'discente')
arqt_cor = arqt_cor.rename(columns={'media_final': 'ed'})

arqt_cor = pd.merge(bd_1, arqt_cor, how = 'inner', on = 'discente')
arqt_cor = arqt_cor.rename(columns={'media_final': 'bd_1'})

arqt_cor

                             discente  bd_1    ed  arquitetura     poo_1
0    005c14d7c07bf7980b60c703f99c5ee7   5.7  0.00         5.30  5.600000
1    014789363f7940922e71e710ee9d22bc   5.5  4.40         1.90  9.000000
2    026f9509c92f18fdea01c391a9d401a8   5.8  6.00         8.10  7.500000
3    057b5f3791c59f7ea9673943a63ee7ea   5.3  5.00         5.10  5.800000
4    07d4b852e9a42c2da9a30e5ab5cfc5b7   5.3  6.10         4.55  3.566667
..                                ...   ...   ...          ...       ...
219  fb38dba740d0ed107efeebe85e77c84a   6.3  4.45         6.30  7.800000
220  fb9c8cfe6651f3eb5b0e54fef1c92d0c   5.8  6.60         6.90  5.100000
221  fc1614293b1cb9388ab3f21ef4767eac   8.4  5.80         6.70  7.300000
222  fec9ed6026d55ecdf514c640312c3d08   9.1  6.70         9.40  5.800000
223  ff56f2c5048dae0797fd3e851572b80c   5.0  3.30         7.10  7.700000

[224 rows x 5 columns]

### Correlação - Algoritmos e Lógica de Programação

In [740]:
alp_cor = pd.merge(algoritmo, intro_informatica, how = 'inner', on = 'discente')
alp_cor = alp_cor.rename(columns={'media_final_x': 'algoritmo', 'media_final_y': 'intro_informatica'})

alp_cor = pd.merge(logica, alp_cor, how = 'inner', on = 'discente')
alp_cor = alp_cor.rename(columns={'media_final': 'logica'})

alp_cor = pd.merge(fundamentos_mat, alp_cor, how = 'inner', on = 'discente')
alp_cor = alp_cor.rename(columns={'media_final': 'fundamentos_mat'})

alp_cor = pd.merge(tga, alp_cor, how = 'inner', on = 'discente')
alp_cor = alp_cor.rename(columns={'media_final': 'tga'})

alp_cor

,discente,tga,fundamentos_mat,logica,algoritmo,ano_x,intro_informatica,ano_y
0,005c14d7c07bf7980b60c703f99c5ee7,8.7,3.250000,4.200000,5.90,20181.0,2.55,20181.5
1,0107fd69d8cd7e3d30dede96fb68bfe5,7.8,1.600000,4.900000,5.60,20111.5,2.70,20111.0
2,014789363f7940922e71e710ee9d22bc,5.7,1.766667,5.100000,6.00,20161.5,3.00,20161.5
3,0168075add041f9eb4bba46d6fdb6387,0.0,0.000000,1.400000,2.00,20181.0,0.00,20181.0
4,026f9509c92f18fdea01c391a9d401a8,6.7,1.833333,4.433333,6.80,20161.0,5.40,20161.0
...,...,...,...,...,...,...,...,...
521,fd2397062d2a9f92dd32ac8fa33863de,9.2,5.800000,6.000000,6.60,20221.0,5.80,20221.0
522,fe508adc657a48bc4cbfeed0856f5d93,6.6,7.000000,5.600000,1.80,20191.0,1.80,20191.0
523,fe802d8d85de6f842749468401d1146c,6.5,0.000000,2.700000,2.00,20221.0,0.00,20221.0
524,fec9ed6026d55ecdf514c640312c3d08,9.5,7.000000,8.100000,8.70,20206.0,8.60,20205.0
525,ff56f2c5048dae0797fd3e851572b80c,7.2,3.333333,4.300000,4.45,20146.0,3.80,20151.0

### Correlação - POO I

In [741]:
pro_oo1_cor = pd.merge(poo_1, ed, how = 'inner', on = 'discente')
pro_oo1_cor = pro_oo1_cor.rename(columns={'media_final_x': 'poo_1', 'media_final_y': 'ed'})

pro_oo1_cor = pd.merge(arquitetura, pro_oo1_cor, how = 'inner', on = 'discente')
pro_oo1_cor = pro_oo1_cor.rename(columns={'media_final': 'arquitetura'})

pro_oo1_cor = pd.merge(osm, pro_oo1_cor, how = 'inner', on = 'discente')
pro_oo1_cor = pro_oo1_cor.rename(columns={'media_final': 'osm'})

pro_oo1_cor

                             discente   osm  arquitetura     poo_1        ed
0    005c14d7c07bf7980b60c703f99c5ee7  8.10          5.3  5.600000  0.000000
1    014789363f7940922e71e710ee9d22bc  6.00          1.9  9.000000  4.400000
2    026f9509c92f18fdea01c391a9d401a8  6.50          8.1  7.500000  6.000000
3    02dad20dec819bcc384cc6fa0b7ecbf9  4.95          2.5  2.633333  1.133333
4    04c4db33b712881ca8936fdc225bf153  5.00          1.1  0.400000  0.500000
..                                ...   ...          ...       ...       ...
241  fb38dba740d0ed107efeebe85e77c84a  5.70          6.3  7.800000  4.450000
242  fb9c8cfe6651f3eb5b0e54fef1c92d0c  5.95          6.9  5.100000  6.600000
243  fc1614293b1cb9388ab3f21ef4767eac  7.70          6.7  7.300000  5.800000
244  fec9ed6026d55ecdf514c640312c3d08  8.60          9.4  5.800000  6.700000
245  ff56f2c5048dae0797fd3e851572b80c  5.30          7.1  7.700000  3.300000

[246 rows x 5 columns]

# Regressão

In [742]:
from sklearn.model_selection import  train_test_split

## Programação

In [743]:
x = pro_cor.drop(columns=['programacao','discente'])
y = pro_cor.drop(columns=['intro_informatica','algoritmo','logica','fundamentos_mat','discente' ])

In [744]:
# Separando dados de treino e teste
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.20, random_state=5)

### LinearRegression

In [745]:
lr = LinearRegression()

In [746]:
#treinando o algoritmo e gerando o modelo de regressão
model = lr.fit(X_train, y_train)

In [747]:
#realizando a predição
result = model.predict(X_test)

In [748]:
#comparando o resultado aplicando  os dados de treinamento
result_treino = model.predict(X_train)

In [749]:
# em metrics, temos quase todas as metricas geralmete utilizadas
R2 = r2_score(y_test,result)
print(R2)

0.8652632266649504

In [750]:
def adjusted_r2(y_test,result,X_train):

  from sklearn.metrics import r2_score

  adj_r2 = (1 - ((1 - r2_score(y_test,result)) * (len(y_test) - 1)) /
          (len(y_test) - X_train.shape[1] - 1))

  return adj_r2
adjusted_r2(y_test,result,X_train)

0.8533746878412696

In [751]:
#Calculando o erro medio quadratico
mean_squared_error(y_test, result)

0.903763797480604

In [752]:
RMSE = mean_squared_error(y_test,result,squared=False)
# argumento 'squared' dado como false nos da o RMSE
print(RMSE)

0.548866649706649

/home/wanessa/.local/lib/python3.10/site-packages/sklearn/metrics/_regression.py:483: FutureWarning: 'squared' is deprecated in version 1.4 and will be removed in 1.6. To calculate the root mean squared error, use the function'root_mean_squared_error'.
  warnings.warn(

In [753]:
MAE = mean_absolute_error(y_test,result)
print(MAE)

0.42547494781537804

### Introdução à Informática

In [756]:
x = intro_cor.drop(columns=['intro_informatica','discente' ])
y = intro_cor.drop(columns=['algoritmo','logica','fundamentos_mat','tga', 'discente'])

### Fundamentos de Matemática